*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.kartochki{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.card{
    width: 300px;
    text-align: center;
    padding: 20px;

}
.img{
    width: 80%;
    height: 300px;
}
.title{
    font-size: 20px;
    margin: 20px 0;
    
}
.description{
    font-size: 14px;
    color: grey;
}
.category{
    text-transform: capitalize;
}
.span{
    font-weight: 700;
}
.price{
    color: green;
    font-weight: 600;
    margin: 10px ;
    font-size: 25px;
}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(70, 174, 70);
    color: white;
    font-size: 15px;
}

.korzinka{
    width: 70%;
    border: 2px solid rgb(255, 255, 255);
    margin: 50px auto;
   border-radius: 40px;
   color: rgb(0, 0, 0);
   background-color: darkslategrey;
}
.tovar{
    background-color: aliceblue;
    margin: 20px 0;
    border-radius: 20px;
}

.product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h3{
    color: red;
}
